<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benjis Coffee</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmkJU1lM22bKzy7KH4Y8rW5Wf4HHuvIMA1dedsOx3gCj9K77qIc1kpxUhYAw" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
      </script>
    <script src="https://kit.fontawesome.com/37cdb8b9f4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
  
  </head>

<br><br><br>
<div class="cartContainer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table table-image">

					<div>
							<button onclick="goBack()" style="background: transparent; border: none; cursor: pointer;">
								<i class="fa-solid fa-arrow-left"></i></button>
					</div>
					<div>
						<form action="{% url 'delete_cart' cart.id %}" method="post">
							{% csrf_token %}
							<button style="background: transparent; border: none; cursor: pointer;">
								<i class="fa-solid fa-trash"></i></button>
						</form>
					</div>
					<thead>
						<tr>

							<th scope="col">Articulo</th>
							<th scope="col">Nombre</th>
							<th scope="col">Precio</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Sub-Total</th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>

							<td class="w-25">
								<img src="{{item.product.picture}}" class="img-fluid img-thumbnail" alt="Cafes">
							</td>
							<td>{{item.product.Nombre}}</td>
							<td class="fw-bold">${{item.product.Precio}}</td>
							<td>{{item.quantity}}</td>
							<td class="fw-bold">${{item.price}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	{% if user.is_staff and not cart.completed %}
	<div class="container">
		<form action="{% url 'complete_cart' cart.id %}" method="post">
			{% csrf_token %}
			<div class="container">
				<h3 class="fw-bold">Total: ${{cart.total_price}}</h3>
				<form action="{% url 'complete_cart' cart.id %}" method="post">
					{% csrf_token %}
					{% if not cart.completed %}
					<button class="btn btn-outline-success">Realizar orden</button>
					{% else %}
					<p>Orden en proceso</p>
					{% endif %}
				</form>
			</div>
		</form>
	</div>
	{% elif user.is_staff and cart.completed %}
	<div class="container">
		<form action="{% url 'complete_client_order' cart.id %}" method="post">
			{% csrf_token %}
			<div class="container">
				<h3 class="fw-bold">Total: ${{cart.total_price}}</h3>
				<button class="btn btn-outline-info">Completar orden para el cliente</button>
			</div>
		</form>
	</div>
	{% else %}
	<div class="container">
		<h3 class="fw-bold">Total: ${{cart.total_price}}</h3>
		<form action="{% url 'complete_cart' cart.id %}" method="post">
			{% csrf_token %}
			{% if not cart.completed %}
			<button class="btn btn-outline-success">Realizar orden</button>
			{% elif not cart.listo %}
			<div class="alert alert-warning" role="alert">
				Orden en Proceso
			</div>
			{% else %}
			<div class="alert alert-success" role="alert">
				Orden Completada
			</div>
			{% endif %}
		</form>
	</div>
	{% endif %}

</div>
</div>

<br><br><br>

<script>
	function goBack() {
		window.history.back();
	}
</script>

<script>
	jQuery(document).on('click', '.remove-btn', function(e){
    e.preventDefault();
    //grab the product id
    var productid = $(this).data('index');

    $('.remove-btn').click(function() {
    // Get the product_id from some source, such as a data attribute or input field
    var product_id = $(this).data('product-id'); // Example: getting from a data attribute
    // Now you can use product_id
    $.ajax({
        url: '/remove_from_cart/',
        type: 'POST',
        data: {
            action: 'post',
            id: productid // Assuming 'id' is the key expected by the server
        },
		headers: {"Content-Type": "application/json", 'X-CSRFTOKEN': csrftoken},
        success: function(response) {
            console.log(response);
        },
        error: function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
});
});
</script>
