{% extends 'base.html' %}

{% block content %}

<h1 class="text-center display-3">Productos</h1>

<main class="container" style="margin-top: 50px; margin-left: 15%;">
    <div class="productContainer">
        <div class="row">
            {% for product in products %}
            {% if product.Disponibilidad %}
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body ">
                        <img src="{{product.picture}}"
                            class="card-img-top" alt="..." width="250" height="175px">
                        <h5 class="card-title"></h5>
                        <p class="card-text fw-bold">{{product.Nombre}}</p>
                        <p class="card-text fw-bold">RD$ {{product.Precio}}</p>
                        <p class="card-text">{{product.Descripcion}}</p>
                        <button value="{{product.id}}" class="btn btn-success">Agregar al Carrito</button>
                        <!-- <button class="btn btn-success">Añadir</button> -->
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>


    
{% endblock %}