{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">{{product.Nombre}}</h1>

            {{error}}

            {% csrf_token %}

            {{form.as_p}}



            <div class="mt-5">
                <div class="d-flex">
                    <form class="mr-2">
                        {% csrf_token %}
                        <button class="btn btn-success">
                            Añadir
                        </button>
                    </form>
                    
                    <form>
                        {% csrf_token %}
                        <button class="btn btn-danger ml-5">
                            Cancelar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}